/* body{
    background-color: #222222;
    color: white;
} */



body{
    background-color: green;
}

.lala{
    color: red;
}

h1{
    font-size: 50px;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 200px;
}